#bar-chart-ui {
  border-radius: 4px;
  background-color: #0c1020;
  padding: 10px;
  margin: 20px auto 0 auto;
  max-width: 500px;

  > p {
    font: normal 14px sans-serif;
    color: #d9a74a;
    margin: 0 0 20px 0;
    text-align: center;
  }

  canvas {
    border-radius: 4px;
    width: 100% !important;
    height: 300px;
    margin: 0 auto;
  }

  .filters {
    margin: 10px auto;

    .btn-group {
      text-align: center;

      button {
        padding: 4px 15px 3px 15px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: white;
        font: normal 13px sans-serif;
        border-radius: 6px;
        outline: none;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #03658c;
          color: white;
        }
      }

      button:not(:last-child) {
        margin-right: 10px;
      }
    }

    .active-quarter {
      background-color: #03658c !important;
      color: white;
    }
  }

  .data-table {
    font: normal 12px sans-serif;
    color: #535353;
    border-radius: 4px;

    .headers {
      display: grid;
      grid-template-columns: repeat(3, calc(33.3% - 15px));
      margin: 0 0 5px 45px;

      p {
        float: left;
        margin: 0;
        color: #313b3f;
        text-transform: uppercase;
        font: 600 12px sans-serif;
      }

      p:first-child {
        width: 33.3%;
      }

      p:nth-child(2) {
        width: 33.3%;
      }
    }

    .services {
      overflow: auto;
      margin-left: 10px;

      .labels {
        overflow: auto;
        display: grid;
        grid-template-columns: 30px calc(100% - 30px);
        > div:first-child {
          float: left;
        }
        > div + div > div {
          display: grid;
          grid-template-columns: repeat(3, 33.3%);
          width: calc(100% - 40px);
          // margin-left: 20px;
        }
      }
    }
  }

  .table-wrapper {
    background-color: #ffffff;
    margin: 10px auto 0 auto;
    overflow: hidden;
    padding: 10px 0;
  }
}

@media screen and (max-width: 545px) {
  #bar-chart-ui {
    margin-left: 5px;
    margin-right: 5px;
  }
}
