html,
body {
  margin: 0;
  padding: 0;
}
.website {
  font: normal 14px sans-serif;
  letter-spacing: 0.5px;
  display: block;
  cursor: pointer;
  background-color: #313b3f;
  color: #D9A74A;
  padding: 10px;
  text-decoration: none;
  text-align: right;
}
